/* RESETTINGS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* HEADER */
/* SECTION BLOG TAB */

#logo{
  height: 100%;
}

.container-img{
  /* margin-top: 50%; */
  position: absolute;
  top: 50%;
  height: 50%;
}     /*ho cercato di aggiustare il margine superiore con un margin top o padding top del container, ma continua a prenderlo in riferimento all'antenato html. perciò mi sono arrangiato con l'attributo position */

.blog-bg > .container {
  height: inherit; 
  /* padding-top: 50%; */
  position: relative;
}

section.blog-bg {
  height: 5.5em;

  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-repeat: repeat-x;
}